<main class="principal">
  <section class="content">
  <div class="posts"> 
    <!-- INSERTO ARTICLES DESDE JS -->
    </div>

    <aside class="sidebar">
      <h4 class="sidebar__title">¿Quién soy?</h4>
      <img class="sidebar__img" src="../../assets/images/caracol.jpg" alt="">
      <p class="sidebar__paragraph"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, impedit.
        Facilis doloribus rem laudantium
        itaque facere, corporis quae optio dolorem nemo error soluta aperiam illum explicabo voluptatum sit atque
        aliquam.</p>
    </aside>
  </section>
</main>

