// fonts
$font-main: "Roboto", sans-serif;

// colors
$color-light: #f3f4f5;
$color-secondary: #999;
$color-dark: black;
$color-darkMedium:  rgb(58, 54, 54);
$color-principal:rgb(4, 109, 74);
$color-secondaryLight:  rgb(217, 223, 220);
$color-blood: #CA3413;
$color-sky:#1F87C4;
