.footer { 
  background-color: grey;
    opacity: 80%;
    height: 50px;  
    margin-top: 20px;
    padding: 10px;
  &__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__btn{
    font-size: 20px;
    background-color: black;
    padding: 5px;
    border-radius: 25px;
    color: white
  }
}
