.page {
  background-image: url("../../assets/images/hojas.jpg");
  background-attachment: fixed;
}

.global{
  background-color:$color-light;
  width: 80%;
  margin: 0px auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0px 0px 2px $color-secondary;
  @media all and (min-width:768px) {
    width: 75%;
  }
}

.content{
  display: flex;
  flex-direction: column-reverse;
  @media all and (min-width:768px) {
    flex-direction: row;
}
// @media all and (min-width:1280px) {
//     margin: 0 auto;
//     max-width: 1200px;
// }
}

.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px ;
    @media all and (min-width:768px) {
    margin:0px 15px 15px 0px;
}
  &__title{
    margin: 15px 0px 5px 0px;
       @media all and (min-width:768px) {
    margin:0px 15px 15px 0px;
}
  }
  &__paragraph{
    margin: 15px 0px 15px 0px;
    text-align: justify;
  }
  &__button{
   background-color: $color-principal;
   color:$color-light;
   margin-bottom: 10px;
   align-self:flex-start;
  }
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px ;
  background-color:$color-secondaryLight;
  margin-bottom: 15px;
  @media all and (min-width:768px) {
    margin-bottom: 0px;
}
  &__title{
    text-align: center;
    margin-bottom: 15px
  }
  &__img{
    width: 200px;
    height: 150px;
  margin-bottom: 15px
  }
  &__paragraph{
    text-align: justify;
  }
  &__form{
    display: none;
    @media all and (min-width:768px) {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      input{
        margin-bottom: 10px;
      }
      &--btn{
        width: 50%;
        margin-top: 10px;
      }
  }
}
}


// PARA EL SLIDER CLASES EN DEVTOOLS
.bx-wrapper, .bx-viewport {
height: 180px  !important; 
@media all and (min-width:768px) {
  height: 250px !important;
}
}

.themeSelector{
  border: 2px solid black;
 background-color: $color-dark;
  width: 40px;
  height: 100px;
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  top: 40%;
  &__green {
    width: 25px;
    height: 25px;
    background-color: $color-principal;
  }
  &__red{
    width: 25px;
    height: 25px;
    background-color: $color-blood;
}
 &__blue{
    width: 25px;
    height: 25px;
    background-color: $color-sky;
  }
}

.red{
  background-color: $color-blood !important;
}
.redImg{
  background-image: url("../../assets/images/rojo.jpg");
  background-attachment: fixed;
}
.blue{
  background-color: $color-sky !important;
}
.blueImg{
  background-image: url("../../assets/images/cielo.jpg");
  background-attachment: fixed;
}